<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">DCC ++ Web App</a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li class="" uib-dropdown auto-close="outsideClick" is-open="connectionMenuShouldBeOpened">
          <a href class="dropdown-toggle" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">Connect to Base Station <span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-class="{active: recentConnection.url === baseStation.getCurrentConnection().url}" ng-repeat="recentConnection in baseStation.getRecentConnections()">
              <a ng-click="baseStation.connect(recentConnection.url);" href>
                <i ng-show="baseStation.getCurrentConnection().url === recentConnection.url && baseStation.getCurrentConnection().status === 'connecting'" class="fa fa-spin fa-spinner"></i>
                <i ng-show="baseStation.getCurrentConnection().url === recentConnection.url && baseStation.getCurrentConnection().status === 'error'" class="fa fa-times"></i>
                <i ng-show="baseStation.getCurrentConnection().url === recentConnection.url && baseStation.getCurrentConnection().status === 'connected'" class="fa fa-check"></i>
                {{recentConnection.url}}</a>
            </li>
            <li>
              <a ng-show="baseStation.getRecentConnections().length === 0" href>No Recent Connections...</a>
            </li>
            <li role="separator" class="divider"></li>
            <form class="navbar-form-inline" role="form">
              <div class="col-xs-8">
                <input class="form-control" type="text" placeholder="New Connection URL" ng-model="newConnectionUrl" />
              </div>
              <div class="col-xs-4">
                <button type="submit" ng-disabled="!newConnectionUrl" class="btn btn-primary" ng-click="baseStation.connect(newConnectionUrl);newConnectionUrl = '';connectionMenuShouldBeOpened = false">Connect!</button>
              </div>
            </form>

          </ul>
        </li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="$ctrl.isLoggedIn()"><p class="navbar-text">Hello {{ $ctrl.getCurrentUser().name }}</p> </li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
        <li>
          <a href="">
            Main track POWER:
          </a>
        </li>
        <li>
          <nz-toggle
            width="75"
            height="35"
            on-toggle="updatePower()"
            ng-model="power">
          </nz-toggle>
        </li>
      </ul>
    </div>
  </div>
</div>
